* {
    margin: 0;
    padding: 0;

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    height: 100vh;
    color: white;
    background-color: rgb(37, 113, 255);

    display: flex;
    align-items: center;
    justify-content: center;
}

#container-clima {
    height: 500px;
    width: 400px;
    border-radius: 20px;
    background-color: rgba(224, 224, 224, 0.537);

    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

#search:hover {
    background-color: rgb(217, 217, 217);
}

#input_city {
    padding-left: 10px;
    width: calc(100% - 100px);
    background-color: transparent;
    border: 2px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

#input_city::placeholder {
    color: rgb(182, 182, 182);
}

#results {
    height: calc(100% - 40px);
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-end;
}

#results_temp {
    background-color: rgb(23, 87, 151);
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
}

#city {
    font-size: 25px;
    margin-top: 10px;
}

#temp {
    font-size: 50px;
}

table {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    border-spacing: 5px;
}
td {
    width: 200px;
    height: 100px;

    border-radius: 20px;
    border: 2px solid white;
}
td div{
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.informations{
    position: relative;
    bottom: 6px;
}
.images img{
    width: 25px;
    position: relative;
    right: 10px;
}